@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

:root {
  --font-family-sans: 'IBM Plex Sans', sans-serif;
  --font-family-mono: 'IBM Plex Mono', monospace;
  --color-foreground: #F5F9FC;
  --color-foreground-dimmer: #C2C8CC;
  --color-foreground-dimmest: #9DA2A6;
  --color-background: #1C2333;
  --color-background-root: #0F1726;
  --color-background-higher: #2B3245;
  --color-background-highest: #3C445C;
  --color-outline: #70788C;
  --color-outline-dimmest: #4E5569;
  --color-accent-primary-stronger: #57ABFF;
  --color-accent-primary: #0079F2;
  --color-accent-primary-dimmer: #0053A6;
  --color-accent-primary-stronger: #57ABFF;
  --color-accent-negative-strongest: #FFCFCF;
  --color-accent-negative-dimmer: #A60808;
  --color-accent-negative-dimmest: #660000;
  border-color: var(--color-outline-dimmest) !important;
}

.eruda-entry-btn {
  display: none !important;
}

div.eruda-dev-tools {
  color: var(--color-foreground) !important;
  background: var(--color-background) !important;
  font-family: var(--font-family-sans) !important;
  padding-top: 30px !important;
}

.eruda-nav-bar-container {
  height: auto !important;
}

.eruda-nav-bar-container .eruda-bottom-bar{
  display: none;
}

.eruda-nav-bar {
  background: var(--color-background-higher) !important;
  border: none !important;
}

.eruda-nav-bar-item {
  color: var(--color-foreground-dimmer) !important;
  padding: 8px !important;
  line-height: 14px !important;
  height: auto !important;
  transition: none !important;
}

.eruda-nav-bar-item:nth-child(5) {
  text-transform: uppercase !important;
}

.eruda-nav-bar-item:hover {
  color: var(--color-foreground) !important;
}

.eruda-nav-bar-item:active {
  background: var(--color-background) !important;
}

.eruda-nav-bar-item.eruda-active {
  color: var(--color-foreground) !important;
  background: var(--color-background) !important;
}

.eruda-console-container {
  padding-top: 34px !important;
  padding-bottom: 32px !important;
}

.eruda-control {
  background: var(--color-background) !important;
  padding: 4px 8px !important;
  height: auto !important;
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
}

.eruda-filter {
  padding: 6px 8px !important;
  color: var(--color-dimmer) !important;
  height: auto !important;
  border-radius: 16px !important;
  line-height: 12px !important;
  transition: none !important;
}

.eruda-filter:hover {
  color: var(--color-foreground) !important;
}

.eruda-filter.eruda-active {
  color: var(--color-foreground) !important;
  background: var(--color-background-higher) !important;
}

.eruda-icon-clear, .eruda-icon-search {
  line-height: 16px !important;
  padding: 4px !important;
  top: 4px !important;
  color: var(--color-foreground-dimmer) !important;
  transition: none !important;
}

.eruda-icon-clear:hover, .eruda-icon-search:hover {
  color: var(--color-foreground) !important;
}

.eruda-icon-search {
  right: 4px !important;
}

.eruda-icon-clear {
  right: 32px !important;
  left: auto !important;
}

.eruda-js-input {
  border-top: 1px solid var(--color-outline-dimmest) !important;
  height: 32px !important;
}

.eruda-js-input.eruda-active {
  height: 100% !important;
  border-top: none !important;
}

.eruda-js-input.eruda-active textarea {
  font-family: var(--font-family-mono) !important;
  color: var(--color-foreground) !important;
  padding-left: 8px !important;
}

.eruda-js-input textarea {
  background: var(--color-background) !important;
  line-height: 22px !important;
  padding-left: 32px !important;
}

.eruda-js-input .eruda-icon-arrow-right {
  line-height: 31px !important;
  color: var(--color-foreground) !important;
  margin-right: 4px !important;
}

.eruda-buttons {
  height: auto !important;
  border-top: 1px solid var(--color-outline-dimmest) !important;
  padding: 4px !important;
  background: var(--color-background) !important;
}

.eruda-button {
  color: var(--color-foreground) !important;
  border: none !important;
  border-radius: 8px !important;
  margin: 4px !important;
  width: calc(50% - 8px) !important;
  height: auto !important;
  font-size: 14px !important;
  line-height: 14px !important;
  padding: 8px !important;
}

.eruda-cancel {
  background: var(--color-background-higher) !important;
}

.eruda-cancel:hover {
  box-shadow: inset 0 0 0 1px var(--color-outline) !important;
}

.eruda-execute {
  background: var(--color-accent-primary-dimmer) !important;
}

.eruda-execute:hover {
  box-shadow: inset 0 0 0 1px var(--color-accent-primary-stronger) !important;
}

.eruda-log-content {
  font-family: var(--font-family-mono) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  margin-left: 12px !important;
}

.eruda-output.eruda-log-item {
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
}

.eruda-log.eruda-log-item {
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
}

.eruda-log-item.eruda-error, .eruda-icon-error {
  color: var(--color-accent-negative-strongest) !important;
}

.eruda-log-item.eruda-error {
  background: var(--color-accent-negative-dimmest) !important;
  border-top-color: var(--color-accent-negative-dimmer) !important;
  border-bottom-color: var(--color-accent-negative-dimmer) !important;
}

.eruda-icon-arrow-left, .eruda-icon-arrow-right {
  color: var(--color-foreground-dimmer) !important;
}

.eruda-log-item .eruda-icon {
  line-height: 26px !important;
}

.eruda-parents {
  background: var(--color-background) !important;
  border: none !important;
  padding: 8px 8px 0 8px !important;
}

.eruda-parent {
  margin-right: 2px !important;
}

.eruda-parent .eruda-tag-name-color{
  color: var(--color-accent-primary-stronger) !important;
}

.erudaparents .eruda-icon-arrow-right {
  color: var(--color-foreground-dimmer) !important;
  margin-right: 2px !important;
}

.eruda-breadcrumb {
  background: var(--color-background) !important;
  border: none !important;
  font-size: 20px !important;
  line-height: 24px !important;
  padding: 8px !important;
  pointer-events: none !important;
  margin-bottom: 0 !important;
}

.eruda-breadcrumb .eruda-tag-name-color {
  color: var(--color-foreground) !important;
}

#eruda-elements ul.eruda-children {
  background: var(--color-background-higher) !important;
  border-color: var(--color-outline-dimmest) !important;
  margin-bottom: 16px !important;
}

.eruda-elements .eruda-child {
  border-color: var(--color-outline-dimmest) !important;
  transition: none !important;
}

.eruda-child:hover {
  background: var(--color-background-highest) !important;
}

.eruda-children .eruda-tag-name-color {
  color: var(--color-accent-primary-stronger) !important;
}

.eruda-section {
  margin-bottom: 16px !important;
  border-bottom: none !important;
}

.eruda-section h2 {
  background: var(--color-background) !important;
  border-top: none !important;
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
  padding: 4px 8px !important;
  color: var(--color-foreground-dimmer) !important;
}

.eruda-table-wrapper {
  background: var(--color-background-higher) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
  border-top: none !important;
}

.eruda-table-wrapper td {
  padding: 4px 8px !important;
}

div#eruda-elements div.eruda-styles div.eruda-style-wrapper {
  padding: 0 !important;
}

div#eruda-elements .eruda-styles .eruda-style-wrapper .eruda-style-rules {
  border: none !important;
  background: var(--color-background-higher) !important;
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
  padding: 8px !important;
  margin-bottom: 0 !important;
  font-family: var(--font-family-mono) !important;
  font-size: 14px !important;
  line-height: 22px !important;
}

.eruda-box-model {
  background: var(--color-background-higher) !important;
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
}

.eruda-computed-style td {
  color: var(--color-foreground) !important;
}

.eruda-computed-style td.eruda-key {
  color: var(--color-foreground-dimmer) !important;
}

#eruda-elements .eruda-bottom-bar {
  border-top: 1px solid var(--color-outline-dimmest) !important;
  height: auto !important;
  padding: 4px !important;
  background: var(--color-background) !important;
}

#eruda-elements .eruda-bottom-bar .eruda-btn {
  background: var(--color-background-higher) !important;
  border-radius: 8px !important;
  margin: 4px !important;
  width: calc(100% / 3 - 8px) !important;
  height: auto !important;
  font-size: 14px !important;
  line-height: 14px !important;
  padding: 8px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#eruda-elements .eruda-bottom-bar .eruda-btn:hover {
  box-shadow: inset 0 0 0 1px var(--color-outline) !important;
}

#eruda-elements .eruda-bottom-bar span::before{
  font-family: var(--font-family-sans) !important;
  color: var(--color-foreground) !important;
}

#eruda-elements .eruda-bottom-bar .eruda-select {
  display: none !important;
}

#eruda-elements .eruda-bottom-bar .eruda-icon-refresh::before {
  content: 'Refresh' !important;
}

#eruda-elements .eruda-bottom-bar .eruda-icon-eye::before {
  content: 'Toggle highlight' !important;
}

#eruda-elements .eruda-bottom-bar .eruda-icon-reset::before {
  content: 'Reset to root' !important;
}

.luna-notification-item {
  background: var(--color-background-root) !important;
  padding: 8px !important;
  border-radius: 8px !important;
  border: 1px solid var(--color-outline-dimmest) !important;
  color: var(--color-foreground) !important;
}

#eruda-network .eruda-title {
  background: var(--color-background) !important;
  color: var(--color-foreground) !important;
  height: auto !important;
  padding: 8px !important;
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
}

#eruda-network .eruda-requests li {
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
  font-size: 14px !important;
  line-height: 22px !important;
}

.eruda-html-tag {
  font-family: var(--font-family-mono) !important;
}

.eruda-selection {
  background: var(--color-background-higher) !important;
}

.eruda-range-track-bar {
  background: var(--color-outline-dimmest) !important;
}

.eruda-range-track-progress {
  background: var(--color-accent-primary) !important;
}

.eruda-inspect {
  background: var(--color-background-higher) !important;
  height: auto !important;
  border: 8px solid var(--color-background) !important;
  border-radius: 16px !important;
  padding: 8px !important;
  font-size: 14px !important;
  line-height: 14px !important;
  color: var(--color-foreground) !important;
  cursor: pointer !important;
  text-transform: lowercase !important;
}

.eruda-inspect:first-letter {
  text-transform: uppercase !important;
}

.eruda-inspect:hover {
  box-shadow: inset 0 0 0 1px var(--color-outline) !important;
}

#eruda-settings .eruda-separator {
  height: 12px !important;
}

#eruda-settings .eruda-text {
  padding: 4px 8px !important;
  font-size: 12px !important;
  line-height: 18px !important;
  color: var(--color-foreground-dimmer) !important;
}

#eruda-settings .eruda-select .eruda-head {
  padding: 4px 8px !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--color-foreground) !important;
  background: var(--color-background-higher) !important;
  border-top: 1px solid var(--color-outline-dimmest) !important;
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
  text-transform: lowercase !important;
  transition: none !important;
}

#eruda-settings .eruda-select .eruda-head:hover {
  background: var(--color-background-highest) !important;
}

#eruda-settings .eruda-select .eruda-head:first-letter {
  text-transform: uppercase !important;
}

#eruda-settings .eruda-select ul {
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
}

#eruda-settings .eruda-select li {
  font-size: 14px !important;
  line-height: 22px !important;
  padding: 4px 8px !important;
  color: var(--color-foreground) !important;
  transition: none !important;
}

#eruda-settings .eruda-select li:hover {
  background: var(--color-background-higher) !important;
}

#eruda-settings .eruda-range .eruda-head {
  padding: 4px 8px !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--color-foreground) !important;
  background: var(--color-background-higher) !important;
  border-top: 1px solid var(--color-outline-dimmest) !important;
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
  text-transform: lowercase !important;
  transition: none !important;
}

#eruda-settings1, #eruda-settings2, .eruda-separator:first-child {
  display: none !important;
}

#eruda-settings .eruda-range .eruda-head:hover {
  background: var(--color-background-highest) !important;
}

#eruda-settings .eruda-range .eruda-head:first-letter {
  text-transform: uppercase !important;
}

.eruda-input-container.eruda-open {
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
}

div#eruda-settings .eruda-range .eruda-input-container .eruda-range-track {
  top: 19px !important;
}

#eruda-settings .eruda-switch {
  padding: 4px 8px !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--color-foreground) !important;
  background: var(--color-background-higher) !important;
  border-top: 1px solid var(--color-outline-dimmest) !important;
  border-bottom: 1px solid var(--color-outline-dimmest) !important;
  text-transform: lowercase !important;
}

#eruda-settings .eruda-switch:first-letter {
  text-transform: uppercase !important;
}

#eruda-settings .eruda-switch .eruda-checkbox {
  border: none !important;
  width: 40px !important;
  padding: 0 !important;
}

#eruda-settings .eruda-switch .eruda-checkbox .eruda-label {
  background: var(--color-background) !important;
  border: 1px solid var(--color-outline-dimmest) !important;
  border-radius: 8px !important;
  height: 100% !important;
  cursor: pointer !important;
  box-shadow: none !important;
}

#eruda-settings .eruda-switch .eruda-checkbox .eruda-handle {
  border-radius: 6px !important;
  height: 16px !important;
  width: 16px !important;
  top: 2px !important;
  left: 2px !important;
  background: var(--color-foreground-dimmest) !important;
  box-shadow: none !important;
}

#eruda-settings .eruda-switch .eruda-checkbox .eruda-handle::before {
  display: none !important;
}

#eruda-settings .eruda-switch .eruda-checkbox .eruda-input:checked~.eruda-handle {
  left: 22px !important;
  background: var(--color-foreground) !important;
}

#eruda-settings .eruda-switch .eruda-checkbox .eruda-input:checked~.eruda-label {
  background: var(--color-accent-primary) !important;
  border: 1px solid var(--color-accent-primary-stronger) !important;
}